.top-bottom
{
}

.top-bottom span
{
    color: #ffffff;
}

#toolbar-selected
{
    margin-top: -1px;
    margin-left: 40px;
}

.top-bar-link
{
    font-size: 90%;
    cursor: pointer;
    margin-top: 5px;
    opacity: 0.7;
    transition: opacity 0.5s;
}

.top-bar-link.bar-selected
{
    opacity: 1;
}

#pages .page
{
    display: block;
    position: relative;
}

#pages .page.hidden
{
    display: none;
    opacity: 0;
}

.main-button
{
    height:100%;
    margin-left: 5px;
    margin-right: 5px;
}

#barCanvas
{
    width: 100%;
    height: 60vh;
}


input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track
{
    background: #367ebd;
}

input[type=range]::-moz-range-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower
{
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower
{
    background: #3071a9;
}
input[type=range]::-ms-fill-upper
{
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper
{
    background: #367ebd;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url( '/static/image/topmenuminVolume.png');
    height: 16px;
    width: 16px;
    background-size:cover;
    margin-top: -7px;
}

.main-button.volume
{
}

#mainMusicControls
{
    display: block;
    text-align: center;
    margin-top: -90px;
    pointer-events: none;
}

.visualizer-center-top
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#prevButton
{
    width: 15%;
    max-width: 32px;
    pointer-events: all;
}

.main-button
{
    transition: -webkit-filter 0.2s;
}
.main-button:hover
{
    -webkit-filter: brightness(2);
}

marquee
{
    width: 20%;
}

#nextButton
{
    width:15%;
    max-width: 32px;
    pointer-events: all;
}

#img
{
    width: 10vw;
    height: 10vw;
    border-radius: 6px;
    border: 6px solid #243746;
}

.main-button.left
{
    float: left;
}

.main-button.right
{
    float:right;
}

.main-button.volume-slider
{
    width: 13%;
    max-width: 100%;
}