body
{
    background-color: #0A0A0A;
}

.sidebar
{
    background-color: #000000;
}

.top-inputs
{
    padding: 14px;
}

body
{
    background: white;
}

.sidebar
{
    background: #222222;
    box-shadow: 2px 0 5px #101010;
    border-right: none;
    top: 50px;
    z-index: 5 ;
}

.navbar
{
    -webkit-box-shadow: 2px 0 5px #101010;
    -moz-box-shadow: 2px 0 5px #101010;
    box-shadow: 2px 0 5px #101010;
}

.img-responsive.loading
{
    background: #777777;
}