html,body
{
    background-color: #FFFFFF;
    color: #777;
}

.top-inputs
{
    padding: 14px;
}

body
{
    background: white;
}

.sidebar
{
    background: #222222;
    -webkit-box-shadow: 2px -1px 5px #101010;
    -moz-box-shadow: 2px -1px 5px #101010;
    box-shadow: 2px -1px 5px #101010;
    border-right: none;
    top: 50px;
    width: 200px;
    z-index: 5 ;
}

.navbar
{
    -webkit-box-shadow: 199px 0 5px #101010;
    -moz-box-shadow: 199px 0 5px #101010;
    box-shadow: 199px 0 5px #101010;
}

.img-responsive.loading
{
    background: #777777;
}
.site-wrapper
{
    background: #FFFFFF;
}

table
{
    color: #777;
}

.pages .pager-item
{
    font-size: 20px;
    margin: 0 0 15px 15px;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    padding-bottom: 4px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}
.pages .pager-item:hover
{
    background: #74caff;
}

.pages .pager-item.selected
{
    background: #74caff;
}

.search-panel table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 13.666667%;
    }
}

.search-panel
{
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 2px -1px 5px #101010;
    -moz-box-shadow: 2px -1px 5px #101010;
    box-shadow: 2px -1px 5px #101010;
    margin-top: -20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-panel .grid
{
    margin-bottom: 0;
}
