@font-face {
    font-family: siteFont;
    src: url(/static/fonts/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url(/static/fonts/Quicksand-Light.otf)
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow {
    0% {background-color: blue;}
    50% {background-color: red;}
    100% {background-color: blue}
}

/* Standard syntax */
@keyframes glow {
    0% {opacity: 1;}
    50% {opacity: 0.7;}
    100% {opacity: 1;}
}

html {
    min-height:100vh
}

body
{
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: Quicksand;
    min-height:100vh;
    height: 100%;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url( '/static/image/songVolumeButton.png');
    height: 20px;
    width: 20px;
    background-size:cover;
}

input[type=range]#volume {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 10px;
    height: 5px;
}

.visualizer-content
{
    float:left;
}

.visualizer-center-top
{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
    float:left;
}

.visualizer-center-split
{
    float:left;
    width:60%;
}

.visualizer-artwork
{
    float:left;
    width: 17%;
    height: 85%;
    margin-right: 20px;
    border-radius: 20px;
    border: #ffffff solid 3px;
}

#prevButton
{
    float:left;
    width:3.3%;
}

#nextButton
{
    float:left;
    width:3.3%;
}

#songTitle
{
    float:left;
    width:93%;
}

#volume
{
    width: 100%;
}

.visualizer-menu-dropdown
{
    float:left;
    width:10%;
}

#visualizer-overlay
{
    position:absolute;
    top: 3%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height: 150px;
    width: 50%;
    opacity: 0.5;
    transition: opacity 1s;
}

#visualizer-overlay:hover
{
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}

#content {
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.overlay
{
    font-size: 120%;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: #191919;
    overflow: auto;
    padding-top: 40px;
    padding-left: 40px;
    position:absolute;
    text-align: center;
    z-index:10;
}

#login
{
    border: solid white;
    border-width:2px 0;
    max-height: 100%;
    width:100%;
}

#login-base
{
    margin-top: 100px;
    margin-bottom: 100px;
}

#login-base:hover
{
    cursor: pointer;
}

#barCanvas
{
    width: 100%;
    height: 100%;
}

#actual-login
{
    display: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

#login-button
{
    font-size: 400%;
}

.login-input
{
    width: 350px;
    height: 50px;
    font-size: 46px;
    box-shadow:none;
    outline: none;
    border-radius: 10px;
}

.underlay
{
    margin-top: 120px;
    margin-left: 130px;
    border-radius: 5px;
    border-color: #003147;
    position: relative;
    z-index:0;
}

.content-box
{
    display: block;
    vertical-align: middle;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
    min-width: 150px;
    min-height: 150px;
    background-color: #007fff;
    opacity: 0.2;
    transition: opacity 0.5s;
    text-align: center;

}

.content-box-1x1
{
    min-width: 150px;
    min-height: 150px;
}

.content-box-2x2
{
    min-width: 300px;
    min-height: 300px;
}

.content-box-3x3
{
    min-width: 450px;
    min-height: 450px;
}

.content-box-4x4
{
    min-width: 600px;
    min-height: 600px;
}

.content-box-1x2
{
    min-width: 150px;
    min-height: 300px;
}

.content-box-1x3
{
    min-width: 150px;
    min-height: 450px;
}

.content-box-1x4
{
    min-width: 150px;
    min-height: 600px;
}

.content-box-2x1
{
    min-width: 300px;
    min-height: 150px;
}

.content-box-3x1
{
    min-width: 450px;
    min-height: 150px;
}

.content-box-4x1
{
    min-width: 600px;
    min-height: 150px;
}

.content-box:hover
{
    opacity: 1;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: infinite;
}

.input-center
{
    text-align: center;
}

.submit-button
{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}

.submit-button:link
{
    text-decoration: none;
}

.submit-button:visited
{
    color: blue;
}

#loggedInNotifier
{
    margin-right: 20px;
    color: white;
}

#interactive
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#search
{
    height: 450px;
    overflow-y: scroll;
}

.box
{
    width: 32%;
    float: left;
    border-color: gray;
    border-style: dashed;
    border-width: 3px;
    border-radius: 20px;
}

#pullResults
{
    color:white;
    height: 450px;
    overflow-y: scroll;
}

a:link {
    color: white;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: white;
    text-decoration: underline;
}

#overlay
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: gray;
    opacity: 0.7;
    z-index:9999;
}

#left
{
    border: solid black;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#right
{
    border: solid black;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#innerPullForm
{
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    z-index: inherit;
}

#innerPullForm div
{
    float: left;
    padding: 24px;
    width: 40%;
    min-height: 400px;
}

#innerPullForm div .textbox
{
    width: 100%;
}

#innerPullForm div textarea
{
    width: 100%;
    resize: none;
    height: 200px;
}

#outerPullForm
{
    display: none;
    position: fixed;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 40px;
    min-width: 600px;
    z-index: 999999;
}

#outerPullForm #close
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999999;
}


#finalizePull
{
    margin-left: 40%;
    margin-bottom: 0;
}

p
{
    color: white;
}

h1
{
    color: white;
}

#title
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.floatingImages
{
    float: left;
    width: 25%;
    height: auto;
}

#nextButton
{
    float: right;
}