::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    font-family: Quicksand;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
}

.footer
{
    background: #243746;
}

.top
{
    padding-bottom: 50px;
    background: #294052;
}
.top-bottom
{
    background: #243746;
    height: 30px;
}

@font-face {
    font-family: siteFont;
    src: url(/static/fonts/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url(/static/fonts/Quicksand-Light.otf)
}

@font-face {
    font-family: BlackJack;
    src: url(/static/fonts/black_jack.ttf)
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: underline;
}

.input-center
{
    text-align: center;
}
