/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1}
}

/* Standard syntax */
@keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1}
}

h3
{
    font-size: 4vh;
    color: #447294;
}

.login
{
    text-align: center;
}

.login .greet
{
    font-size: 15vw;
}

.welcome-text
{
    opacity: 0;
    animation-delay: 1s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    margin-top: 100px;
    padding-left: 5vh;
    padding-right: 5vh;
}

.welcome-text img
{
    width: 100%;
    margin-bottom:2vh;
}

.login-base
{
    display: none;
}

.login-click
{
    cursor: pointer;
}

.login-input
{
    width: 350px;
    min-height: 70px;
    height: 3.5vh;
    font-size: 46px;
    box-shadow:none;
    outline: none;
    border-radius: 10px;
}

.clear-hidden
{
    display: block;
}

.greet
{
    font-family: BlackJack;
    color: #5DB1E2;
    text-shadow: 4px 4px #5A7689;
    margin-bottom: -2vh;
}